{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <main style="font-family: sans-serif; padding: 2rem; text-align: center;">
        <h1>{{ titre }}</h1>
        <p>Le template fonctionne enfin et l'arborescence est correcte ! 🎉</p>
    </main>
{% endblock %}